<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>The Guild</title>
<style>
  div{
    text-align: center;
    float: center;
    padding: 50px;
  }
</style>
</head>


<body>
    <div class="navigation-bar">
        <%- include('partials/header.ejs') %>
      </div>
    <div class="about-us">
        <h1>The Guild</h1>
        <p>The Guild is an organization that is built on the idea that an artist should need nothing more than thier own skill.</p>
        <p>Every artist that we verify has proven thier craft and experience to become a part of our ecosystem.</p>
        <p>This saves our clients precious time and resources to fufill whatever custom job they would like!</p>
    </div>
    <br>
    <div class="instructions">
        <h1>Instructions</h1>
        <p>Click on the "create" tab and enter the information with your login information.</p>
        <p>Enter the requested fields and it will be uploaded into the pending repository.</p>
        <p>Veiw the repository to submit your batch of approved members.</p>
    </div>
    <br>
    <div class="updates">
      <h1>Current objectives</h1>
      <ul>
        <li>Connect database to backend</li>
        <li>Create Submit Table Page and backend</li>
        <li>Implement Login System</li>
        <li>Implement cookies and storage settings</li>
        <li>Secure HTTPS routes</li>
      </ul>
    </div>
</body>

</html>