<style>
    .navigation-header {
        list-style-type: none;
        margin: 0;
        align-content: center;
        padding: 0;
        
        overflow: hidden;
    }
    li.navigation-list{
        float: left;
        
    }
    li a.nav-a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: antiquewhite;
  background-color: #000000da;
}
    button#log-out{
        float:right;
    }
</style>
<ul class="navigation-header">
    <li class="navigation-list"><a class="nav-a" href="/">Home</a></li>
    <li class="navigation-list"><a class="nav-a" href="/create">Create</a></li>
    <li class="navigation-list"><a class="nav-a" href="/pendingUsers">Submit List</a></li>
    <li class="navigation-list"><a class="nav-a" href="">Contact Admin</a></li>
    <li class="navigation-list"><a class="nav-a" href="">About</a></li>
    <form action="/logout?_method=DELETE" method="POST"><button type="submit" id="log-out">Log out</button></form>
</ul>