<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="../scripts/metamask/metamask.conf.js"></script>
<style>
    .navigation-header {
        list-style-type: none;
        margin: 0;
        align-content: center;
        padding: 0;
        
        overflow: hidden;
    }
    li.navigation-list{
        float: left;
        
    }
    li a.nav-a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: antiquewhite;
  background-color: #000000da;
}
    button#log-out,button#btn-wallet{
        float:right;
    }
</style>
<ul class="navigation-header">
    <li class="navigation-list"><a class="nav-a" href="/">Home</a></li>
    <li class="navigation-list"><a class="nav-a" href="/create">Create</a></li>
    <li class="navigation-list"><a class="nav-a" href="/pendingUsers">Submit List</a></li>
    <li class="navigation-list"><a class="nav-a" href="">Contact Admin</a></li>
    <li class="navigation-list"><a class="nav-a" href="/wallet">Wallet</a></li>
    <form action="/logout?_method=DELETE" method="POST"><button type="submit" id="log-out">Log out</button></form>
    <button type="button" id="btn-wallet" value="Check active wallet">Wallet</button>
</ul>